<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.luhongcheng">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>  <!--震动权限-->

    <meta-data android:name="android.max_aspect" android:value="2.2" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="SIT学生助手"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".StartFlash"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".OneSelf.setMy"></activity>
        <activity android:name=".MainFragmentActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".OA.OADisplayActvivity"/>
        <activity
            android:name=".OAitem.item0"
            android:theme="@style/myTransparent">
        </activity>
        <activity android:name=".connect_vpn"/>
        <activity android:name=".OAitem.item1"> </activity>
        <activity android:name=".OAitem.item2"> </activity>
        <activity android:name=".OAitem.item3"> </activity>
        <activity android:name=".OAitem.item4"> </activity>
        <activity android:name=".OAitem.item5"> </activity>
        <activity android:name=".OAitem.item7"> </activity>
        <activity android:name=".OAitem.item8"/>
        <activity android:name=".OAitem.more_item0"/>
        <activity android:name=".OAitem.more_item1"/>
        <activity android:name=".OAitem.more_item2"/>
        <activity android:name=".TuisongActivity"/>
        <activity android:name=".TuisongActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".userCard.userCardinfo"/>
        <activity android:name=".setting.about0"
            android:theme="@style/about0"></activity>
        <activity android:name=".setting.about1"></activity>
        <activity android:name=".setting.about2"></activity>
        <activity android:name=".setting.about3"></activity>
        <activity android:name=".setting.about4"></activity>
        <activity android:name=".SWZL.send"/>
        <activity android:name=".OAitem.item9"/>
        <activity android:name=".secondclass.SecondClassDisplayActvivity"/>
        <activity android:name=".zixun.news"/>
        <activity android:name=".zixun.zhuyeDisplayActvivity"/>
        <activity android:name=".MoreTips"/>
        <activity android:name=".MainFragment_three.KB2"></activity>
        <activity android:name=".SWZL.send2"/>
        <activity android:name=".SWZL.swzlmain"/>
        <activity android:name=".SouHuNews"/>
        <activity android:name=".OneSelf.Find2"/>
        <activity android:name=".SIT_SQ_other.Add_QA"/>

        <service android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" >
        </service>
        <receiver
            android:name="MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.example.luhongcheng" />
            </intent-filter>
        </receiver>
        <activity android:name=".MBox.MBoxItem"></activity>
        <activity android:name=".SQ.SS_ADD"></activity>
        <activity android:name=".SQ.ssDisPlay"></activity>
        <activity android:name=".SQ.SS_ADD2"></activity>
        <activity android:name=".OneSelf.MySs"></activity>
        <activity android:name=".OneSelf.MyLove"></activity>
        <activity android:name=".ImageFullDisplay"></activity>
        <activity android:name=".OneSelf.ShowOnePerson"/>
        <activity android:name=".SQ.PingLun" android:theme="@style/myTransparent"/>
        <activity android:name=".WeiXin.Weixin_more"/>
        <activity android:name=".SQ.Article_Add">
            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <!-- filter for sending text or images; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".OneSelf.Find"/>

    </application>

</manifest>